:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;

  padding: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;

  width: 50%;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
}

.occupations-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.occupations-form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

mat-divider {
  width: 100%;
}
